@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  /* max-width: 100vw; */
  font-family: "Libre Franklin", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 81px 28px 37px 28px;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

header h1 {
  color: #15202a;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header .dot {
  color: #4c7bf3;
  font-family: Libre Franklin;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header h2 {
  color: #969696;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 145.455% */
  margin-top: 32px;
  text-align: center;
}
header span {
  color: #15202a;
  font-weight: 700;
}
header h3 {
  color: #15202a;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-top: 15px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.form input {
  width: 281px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 28px;
  border: 1px solid #c2d3ff;
  background: #fff;
  box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0);
  padding-left: 32px;
}

input::placeholder {
  color: #b8c7ed;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px; /* 125% */
}
button {
  width: 281px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 28px;
  background: #4c7bf3;
  box-shadow: 0px 5px 10px 2px rgba(76, 123, 243, 0.23);
  border: none;
  color: #fff;
  text-align: center;
  font-family: "Libre Franklin", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: 0.3s;
}
button:hover {
  background: #7496ed;
  transition: 0.3s;
}

.main-img {
  width: 320px;
  height: 192px;
  flex-shrink: 0;
  margin-top: 72px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
  margin-top: 120px;
}
footer .icons {
  display: flex;
  align-items: center;
  gap: 12.49px;
  cursor: pointer;
}

.icon {
  fill: #4c7bf3;
}

.icon-oval:hover {
  background: #4c7bf3;
}
.icon-oval:hover .icon {
  fill: #fff;
}

.facebook svg {
  width: 7.025px;
  height: 14.725px;
}
.twitter svg {
  width: 20.296px;
  height: 20.15px;
}

.instagram svg {
  width: 14.694px;
  height: 14.588px;
}
.instagram svg .central-circle,
.inner-fill {
  fill: #fff;
}

.instagram svg .circle,
.dot {
  fill: #4c7bf3;
}

.icon-oval {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31.224px;
  height: 31px;
  flex-shrink: 0;
  border: 0.918px solid rgba(76, 123, 243, 0.15);
  border-radius: 50%;
}

footer .copyright {
  color: #969696;
  font-size: 10px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

@media screen and (min-width: 1440px) {
  body {
    padding: 80px 401px 49px 402px;
  }
  header h1,
  span {
    font-size: 32px;
  }
  header h2 {
    margin-top: 40px;
    font-size: 48px;
  }
  header h3 {
    font-size: 20px;
    margin-top: 16px;
  }
  .form {
    flex-direction: row;
  }
  .form input {
    width: 421px;
    height: 56px;
    font-size: 16px;
  }
  .form button {
    width: 200px;
    height: 56px;
  }
}
